version: 1
# This lazy config includes *all* current engines. Which is why it's called "crazy diamond" - it's slow and you most likely won't need them.
service_url: https://whatever.com
repository_auth:
  username_env: LAZY_DOCKER_REPOSITORY_AUTH_USERNAME
  password_env: LAZY_DOCKER_REPOSITORY_AUTH_PASSWORD
  email_env: LAZY_DOCKER_REPOSITORY_AUTH_EMAIL
config:
  logger:
    console:
      level: metric
    # elastic: # as seen here https://github.com/vanthome/winston-elasticsearch
    #   level: metric
    #   indexPrefix: lazy-default
    #   clientOpts: # as seen here https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/configuration.html
    #     host: elk:9200
    #     apiVersion: "5.0"
engines:
  javascript:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app -w /strategy /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/node-strategy-engine:/app"
      - "source/engines/javascript:/strategy"
    import_env:
      - NPM_TOKEN
    config:
      packageConfig:
        eslint:
          plugins:
          - name: lodash
            packageName: eslint-plugin-lodash
            packageVersion: latest
          - name: import
            packageName: eslint-plugin-import
            packageVersion: latest
  stylelint:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/stylelint:/app"
    boot_timeout: 120
  tidy_html:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/tidy-html:/app"
    labels:
      org.getlazy.lazy.engine.image-metadata.json: "{\"helper_containers\":{\"tidy_html\":{\"image\":\"getlazy/tidy-html:5.2.0\"}}}"
    boot_timeout: 120
  emcc:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/emcc:/app"
    labels:
      org.getlazy.lazy.engine.image-metadata.json: "{\"helper_containers\":{\"emcc\":{\"image\":\"apiaryio/emcc:1.36\"}}}"
    boot_timeout: 120
  php-l:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/php-l:/app"
    labels:
      org.getlazy.lazy.engine.image-metadata.json: "{\"helper_containers\":{\"php-l\":{\"image\":\"php:7.0.13-cli\"}}}"
    boot_timeout: 120
  pmd-java:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/pmd-java:/app"
    labels:
      org.getlazy.lazy.engine.image-metadata.json: "{\"helper_containers\":{\"pmd-java\":{\"image\":\"codacy/codacy-pmdjava:1.0.114\"}}}"
    boot_timeout: 120
  github_access:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/github-access:/app"
    env:
      - AUTH_SUCCESS_PATH=/
      - AUTH_FAILURE_PATH=/auth-failed
    import_env:
      - GITHUB_CLIENT_ID
      - GITHUB_CLIENT_SECRET
    boot_timeout: 120
  pullreq:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/pullreq:/app"
    env:
      - GITHUB_USER=ierceg
      - GITHUB_ACCESS_ENGINE_NAME=github-access
    import_env:
      - GITHUB_CLIENT_ID
      - GITHUB_CLIENT_SECRET
    boot_timeout: 120
  yaml:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/yaml:/app"
    boot_timeout: 120
  postprocessor:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app -w /strategy /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/node-strategy-engine:/app"
      - "source/engines/postprocessor:/strategy"
    boot_timeout: 120
  reducer:
    image: ierceg/node-dev:6.10
    command: nodemon -q -d 1 -L -w /app -w /strategy /app/index.js
    working_dir: /app
    volumes:
      - "source/engines/node-strategy-engine:/app"
      - "source/engines/reducer:/strategy"
    boot_timeout: 120
engine_pipeline:
  bundle:
  - sequence:               # pullreq engine depends on github-access, so we run them sequentially
    - github_access:
    - pullreq:
  - sequence:               # Linters. Run any and all linters in parallel
    - bundle:
      - javascript:
          config:
            ~include: eslint-config.yaml
      - yaml:
      - stylelint:
      - tidy_html:
      - emcc:
      - php-l:
      - pmd-java:
    - postprocessor:                # apply postprocessor to their output
        ~include: default-woohoos.yaml
        ignore-always:
          - lodash/import-scope
    - reducer:              # and, finally, limit the number of reported errors
        maxWarningsPerRule: 5     # allow up to 5 warnings for same rule-id
        maxWarningsPerFile: 300   # allow up to 150 warnings per file
