version: 1
service_url: https://whatever.com
repository_auth:
  username_env: LAZY_DOCKER_REPOSITORY_AUTH_USERNAME
  password_env: LAZY_DOCKER_REPOSITORY_AUTH_PASSWORD
  email_env: LAZY_DOCKER_REPOSITORY_AUTH_EMAIL
config:
  logger:
    console:
      level: metric
    # elastic: # as seen here https://github.com/vanthome/winston-elasticsearch
    #   level: metric
    #   indexPrefix: lazy-default
    #   clientOpts: # as seen here https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/configuration.html
    #     host: elk:9200
    #     apiVersion: "5.0"
engines:
  javascript:
    image: getlazy/javascript-engine:latest
    config:
      packageConfig:
        eslint:
          plugins:
          - name: lodash
            packageName: eslint-plugin-lodash
            packageVersion: latest
          - name: import
            packageName: eslint-plugin-import
            packageVersion: latest
  github_access:
    image: getlazy/github-access-engine:latest
    env:
      - AUTH_SUCCESS_PATH=/
      - AUTH_FAILURE_PATH=/auth-failed
    import_env:
      - GITHUB_CLIENT_ID
      - GITHUB_CLIENT_SECRET
  pullreq:
    image: getlazy/pullreq-engine:latest
  yaml:
    image: getlazy/yaml-engine:latest
  postprocessor:
    image: getlazy/postprocessor-engine:latest
  reducer:
    image: getlazy/reducer-engine:latest
engine_pipeline:
  bundle:
  - sequence:               # pullreq engine depends on github-access, so we run them sequentially
    - github_access:
    - pullreq:
  - sequence:               # Linters. Run any and all linters in parallel
    - bundle:
      - javascript:
          config:
            ~include: eslint-config.yaml
      - yaml:
    - postprocessor:                # apply postprocessor to their output
        ~include: default-woohoos.yaml
        ignore-always:
          - lodash/import-scope
    - reducer:              # and, finally, limit the number of reported errors
        maxWarningsPerRule: 5     # allow up to 5 warnings for same rule-id
        maxWarningsPerFile: 300   # allow up to 150 warnings per file
